/* login page style start*/
body {
  background-color: #619af4;
}
html {
  background-color: #619af4;
}
body > .grid {
  height: 100%;
}

.loginImage {
  margin-top: -100px;
  height: 200px;
  margin: 20px;
}

@keyframes spin {
  from{
  transform: rotateY(0deg);
  moz-transform: rotateY(0deg); 
  ms-transform: rotateY(0deg); 
  }
  to{
  transform: rotateY(360deg);
  moz-transform: rotateY(360deg); 
  ms-transform: rotateY(360deg); 
  }
     }
     @-webkit-keyframes spin{
  from{-webkit-transform: rotateY(0deg);}
  to{-webkit-transform: rotateY(360deg);}
     }
     .loginImage{
  animation-name: spin;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  -webkit-animation-name: spin;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 5s;
     }


.loginColumn {
  max-width: 450px;
}


.ui.image.header {
  color: rgb(207, 233, 105);
  margin-bottom: 70px;
  margin-top: 50px;
  font-size: 40px;
  font-family: 'Oleo Script', cursive;
}

/* login page style end */
/* content pages style start */

.ui.basic.segment {
  background-color: #619af4;
}

.secondaryhtml {
  background-image: url("../images/wings.jpg") no-repeat center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

.secondarybody {
  background-image: url("../images/wings.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}



/* dropdown nav */

#narrow.ui.container h4.ui.header {
color: rgb(207, 233, 105);
display: inline;
text-align: right;
font-size: 20px;
font-family: 'Raleway', sans-serif;
}

.ui.inline.dropdown {
  align-content: right;
}

#narrow.ui.container > .ui.menu {
  border-width: none;
  border-radius: 15px;
  height: 4.5em;
  background-color: #619af4;
}

#narrow.ui.container > .ui.menu .header.item {
  padding-left: 0;
  font-size: 1.2em;
  color: rgb(207, 233, 105);
  padding: 5px;
}

#narrow.ui.container .secondary.menu .item {
  color: rgb(207, 233, 105);
}

#narrow.ui.container .secondary.menu .item.active {
  background-color: rgb(207, 233, 105);
  color: #619af4;
  display:block;
}

#narrow.ui.container .ui.message {
  box-shadow: none;
  padding: 4em 2em;
  background-color: #619af4;
  border-radius: 15px;
}

#narrow.ui.container h1.ui.header {
  font-size: 3.0em;
  text-align: center;
  color: rgb(207, 233, 105);
  font-family: 'Oleo Script', cursive;
  margin-top: 1.0em;
  
}

#narrow.ui.container p.lead {
  font-size: 1.3em;
  color: #333333;
  line-height: 1.4;
  font-weight: 300;
}

#narrow.ui.container .ui.grid .row {
  margin-bottom: 1.5em;
}

#ui.header.item {
  color: rgb(207, 233, 105);
}

.ui.items {
  padding-bottom: 1.5em;
}

.ui.items > .item > .content > .header:not(.ui) {
  font-size: 2em;
}

.ui.button {
  background-color: rgb(207, 233, 105);
  object-position: center;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

#page-header h1 {
  font-size: 2.5em;
  color: rgb(207, 233, 105);
  text-align: center;
}
#page-header p {
  font-size: 1.4em;
  color: rgb(207, 233, 105);
  text-align: center;
}

.ui.container.grid {
  margin-top: 2em;
}

.ui.container.grid p {
  font-size: 1.2em;
  overflow: hidden;
}

.ui.container.grid .ui.grid .column .volunteer {
  background-color: lightblue;
  border: solid 1px rgba(85, 61, 124, 0.2);
  margin-top: 1em;
  margin-bottom: 1em;
}

.uiHeader {
  color: rgb(207, 233, 105);
}

.ui.celled.table {
  text-align: center;
  background-color: #6cacc2;
  margin-bottom: 2em;
}
/* name label under about us images */
.ui.large.label {
  margin-bottom: 10px;
}
.ui.huge.header {
  color: rgb(207, 233, 105);
}

.ui.huge.header.profileWalks {
  color: rgb(207, 233, 105);
  text-align: center;
  padding-top: 20px;
}

.ui.huge.header.profileHead {
  color: rgb(207, 233, 105);
  padding: 30px 14px;
}
.ui.yellow.button {
  background-color: rgb(207, 233, 105);
  color: black;
  margin: auto;
}
.ui.center.aligned.grid.profileIcon {
  justify-content: inherit;
}
.ui.container.profileButtons {
  margin: 20px auto;
  justify-content: inherit;
}
.ui.container.walkLists {
  background-color: #619af4;
  margin: 0;
  border-radius: 15px;
}
.ui.basic.segment {
  border-radius: 15px;
}
/* margin at very top of nav bar */
.ui.container {
  margin: 2rem auto;
}
.walkContainer {
  width: 90%;
  margin: 0 auto;
}
.volunteerWalk {
  width: 90%;
  margin: 0 auto;
}

/* about wingman */
.ui.header.aboutHeader {
  font-family: 'Oleo Script', cursive;
}

/* content pages style end */
